.desserts-images {
    grid-template-columns: repeat(auto-fit, minmax(260px, 250px));
}
@media (max-width: 1440px) {
    .container-div {
     margin: 64px 70px;
    }
  }
@media (max-width: 1310px) {
    .container-div {
        margin: 64px 40px;
    }
  }

@media (min-width: 1280px) {
    .container-div {
        flex-direction: row;     
    }
}

@media (max-width: 1280px) {
    .desserts-section {
        width: 100%;
        margin-bottom: 50px;
    }
    .desserts-images {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
    .desserts-image {
        height: 290px;
    }
    .cart-section {
        margin: 0 auto;
    }
}

@media (max-width: 990px) {
    .container-div {
        margin: 64px 25px;
    }
    .desserts-images {
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    }
}

@media (max-width: 855px) {
    .desserts-images {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    }
}

@media (max-width: 580px) {
    .desserts-section {
        justify-items: center;
        margin: 64px auto;
    }
    .desserts-images {
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    }
    .cart-section {
        width: 290px;
    }
}

@media (max-width: 330px) {
    .cart-section {
        width: 250px;
    }
    .desserts-images {
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    }
}